In [1]:
import pandas as pd

In [3]:
exp_df = pd.read_csv(r'C:\Users\birap\OneDrive\Desktop\Projects\shanky_dashboard\cleaned_data\cleaned_exports.csv')

In [4]:
exp_df.head(1)

,CT_TYPE,CC_CODE,CC_DESC_AR,CC_DESC_EN,COMMODTIY_TYPE,COMMODTIY_CODE,COMM_NAME_AR,COMM_NAME_EN,2023,2024
0,ISI4,1,أنشطة زراعة المحاصيل والإنتاج الحيواني والصيد ...,"Crop and animal production, hunting and relate...",H,1012910,خيول للرياضة,Horses for sport,1817329.0,11227.0

In [5]:
df = exp_df[exp_df["CC_DESC_EN"] == 'Manufacture of furniture']

In [7]:
df.head(2)

,CT_TYPE,CC_CODE,CC_DESC_AR,CC_DESC_EN,COMMODTIY_TYPE,COMMODTIY_CODE,COMM_NAME_AR,COMM_NAME_EN,2023,2024
5629,ISI4,31,صُنع الأثاث,Manufacture of furniture,H,94014100,من خشب,Of wood,80815.0,42420.0
5630,ISI4,31,صُنع الأثاث,Manufacture of furniture,H,94014900,مقاعد غير خشبية قابلة للتحويل إلى أسرة، عدا مق...,"Non-wooden seats convertible into beds, excl c...",299462.0,1192325.0

In [16]:
df['2023'].astype(float).sum()

np.float64(185264339.0)